html { 
	font-family: "Times New Roman";
	background-color: #2299bb;
	background: #2299bb;
	background: -webkit-linear-gradient(left top, DarkTurquoise, MidnightBlue);
	background: -o-linear-gradient(bottom right, MidnightBlue, DarkTurquoise);
	background: -moz-linear-gradient(bottom right, MidnighBlue, DarkTurqouise);
	background: linear-gradient(to bottom right, MidnightBlue, DarkTurqouise);
}
h1 {
	font-family: Copperplate / Copperplate Gothic Light, sans-serif;
	color: #ffffff;
	border: 5px dotted;
	border-radius: 100px;
	border-color: #aa0000;
	box-shadow: 10px 10px 5px #2f7799;
}
p {
	border-style: solid;
	border-width:thin medium thick 10px;
	border-left-color: #ffcc00;
	border-bottom-color: #aa8800;
	border-right-color: #ffcc00;
	border-top-color: #ffdd22;
}
