/*
*Create a new file called "main.css"
*Add a link element to the head of your index.html file
<link rel="stylesheet" href="main.css" type="text/css">
*Edit the main.css file
*add a declaration for each element in the body of your index.html file.
*add properties to style the background color of each element.
*add properties to style the border of each element.
*add properties to style the font and text of each element.
*Use at least 20 different properties. Include a list of these 20 at the TOP of your main.css file as a css comment.
*Use at least 4 different units to set sizes of various aspects of your webpage.
*Go learn something from 2 classmates; add a comment to your main.css file that describes what you learned.
View your index.html in the development server.
*Validate your index.html file.
*Validate your main.css file.
*Copy this list of requirements and paste it into the top of your "main.css" file as a css comment. Put an asterisk in front of each one that you did.
*Upload to the production server with sftp.
*View your index.html in the production server.
font-family
font-size
font-weight
font-style
text-decoration
text-shadow
text-align
background-colorBy
background-image
background-repeat
color
gradient:
background: -webkit-linear-gradient(direction, color, color);
background: -o-linear-gradient(direction, color, color);
background: -mpeatoz-linear-gradient(direction, color, color);
background: linear-gradient(direction, color, color);
border
border-color
border-style
border-width
border-side-color
box-shadow
padding-direction
outline-styleBy
opacity
-webkit-transform: rotateZ(deg);
	transform: rotateZ(deg);
I have learnt text-shadow and text-decoration from Jonathan and text-align from Aroya.
*/
html { 
	font-family: "Times New Roman";
	background-color: #2299bb;
	background: #2299bb;
	background-image: url("http://assets.worldwildlife.org/photos/2325/images/hero_full/mountains-hero.jpg?1345838509");
	background-repeat: no-repeat;
}
@fontface {
	font-family: sansation;
  	src: url(sansation_light.woff);
}
h1 {	
	font-family: sansation;
	color: #ffffff;
	border-style: double;
	border-width: 5px;
	text-align: center;By
}
nav p{
	background-color: #ffffff;
{
	
h2 {
	font-family: "Courier New";
	font-size: 84px;	
	font-weight: bold;
	text-decoration: underline;
	text-shadow: 30px 3px #44eeff;
	background: -webkit-linear-gradient(left top, DarkTurquoise, MidnightBlue);
	background: -o-linear-gradient(bottom right, MidnightBlue, DarkTurquoise);
	background: -moz-linear-gradient(bottom right, MidnighBlue, DarkTurquoise);
	background: linear-gradient(to bottom right, MidnightBlue, DarkTurquoise);
	box-shadow: 2mm 2mm #113366;
	opacity: 0.7;
}
h3 { 
	font-size: 40pt;
	font-style: italic;
	border: 5px solid;
	padding-left: 60%;
	outline-style: double;
	background: #7788ff;
	opacity: 0.5;
}
p {
	font-family: "Times New Roman";	
	border-style: solid;
	border-width:thin medium thick 10px;
	border-left-color: #ffcc00;
	border-bottom-color: #aa8800;
	border-right-color: #ffcc00;
	border-top-color: #ffdd22;
	background: -webkit-linear-gradient(top, #aa8800, #ffdd22);
	background: -o-linear-gradient(bottom, #ffdd22, #aa8800);
	background: -moz-linear-gradient(bottom, #ffdd22, #aa8800);
	background: linear-gradient(to bottom, #ffdd22, #aa8800);
	box-shadow: 3px 3px;
	-webkit-transform: rotateZ(180deg);
	transform: rotateZ(180deg);
	padding-left:1in;
	
}

