header{
	font-family: impact;
	font-style: italic;
	color: blue;
	background: red;
	padding: 3%
}
h1{
	color: yellow;
	background: green;
	border: none;
}
main{
	border-style: solid;
	border-width: 5px;
	border-left-color: orange;
	border-right-color: orange;
	border-top-color: white;
	border-bottom-color: white;
	border-radius: 0px; 
	font-family: arial;
}
h2{
	color: yellow;
	background: purple;
}
p{
	color: blue;
}
h3{
	background: yellow;	
	border-top-style: dashed;
	color: purple;
}
